extends layout 

block content 
  h1 #{title}: #{category.name}
  if items.length
    p #[strong You must delete the following items before deleting the category]
      h4 Items 
        ul
        each item in items 
          li
            a(href=item.url) #{item.name}
  else 
    p Are you sure you want to delete this category?
    form(method="POST")
      div.form-group 
        input#category.form-control(type='hidden', name='categoryid', value=category._id )
      button(type="submit") Delete #{category.name}