extends layout 

block content 
  h1 #{title}: #{manufacturer.name}
  if items.length
    p #[strong You must delete the following items before deleting the manufacturer]
      h4 Items 
        ul
        each item in items 
          li
            a(href=item.url) #{item.name}
  else 
    p Are you sure you want to delete this manufacturer?
    form(method="POST")
      div.form-group 
        input#manufacturer.form-control(type='hidden', name='manufacturerid', value=manufacturer._id )
      button(type="submit") Delete #{manufacturer.name}